$text-color: red;

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  background: url(./bg.jpg) no-repeat center;
  background-size: cover;
  color: $text-color;
  font-weight: 600;
  .cover {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-size: 0.85rem;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease-out;
    opacity: 1;
    &.hide {
      opacity: 0;
      top: 6rem;
    }
  }
  .random-board {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 45%;
    width: 100%;
    transition: all 0.3s ease-out;
    opacity: 1;
    &.hide{
      opacity: 0;
      transform: translateY(-2rem);
    }
    .number {
      width: 2.1rem;
      height: 1.1rem;
      margin: 0 0.2rem;
      line-height: 1.1rem;
      text-align: center;
      font-size: 0.55rem;
      border: $text-color solid 0.05rem;
      border-radius: 0.2rem;
      font-family: TrebuchetMS,Rotobo,"Microsoft YaHei",sans-serif;
      letter-spacing: 5px;
    }
  }
}
